{% extends "__layout.twig" %}

{% block content %}
    <h1>{{title}}</h1>
    <h2>{{description}}</h2>
    <ul class="nav nav-pills">
        <li class="nav-item">
        <a class="nav-link {{ is_info ? 'active' }}" href="/{{url_title}}/info"><strong>
        Описание
        </strong></a>
        </li>

        <li class="nav-item">
        <a class="nav-link {{ is_image ? 'active' }}" href="/{{url_title}}/image"><strong>
        Картинка
        </strong></a>
        </li>
    </ul>

    
    <div class="container">
    {% block objectContent %}
    {% endblock %}
    </div>
{% endblock %}