{% extends "__layout.twig" %}

{% block content %}
<div class="ml-5 container">
    <h2>Добавление видеокарты</h2>
    <hr>

    {% if message %}
    <div class="alert alert-info">
        {{ message }}
        <a href="/videocard/{{id}}">открыть новый объект {{title}}</a>
    </div>
    {% endif %}

    <form action="" enctype="multipart/form-data" method="POST" class="row ml-5 g-3 align-items-center">
        <div class="col-4">
            <label class="form-label">Название</label>
            <input type="text" class="form-control" name="title">
        </div>
        <div class="col-4">
            <label class="form-label">Краткое описание</label>
            <input type="text" class="form-control" name="description">
        </div>
        <div class="col-4">
            <label class="form-label">Тип</label>
            <select class="form-control" name="type">
                {% for t in v_types %}
                    <option value={{t.name}}>{{t.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label">Картинка</label>
            <input class="form-control" type="file" id="image" name="image">
        </div>
        <div class="col-12">
            <textarea name="info_full" placeholder="Полное описание" class="form-control" rows="5"></textarea>
        </div>
        <div class="col-12 text-end">
            <button name="object" type="submit" value="object" class="btn btn-success">Добавить</button>
        </div>
    </form>
</div>

<div class="ml-5 container">
    <h2>Добавление типа видеокарты</h2>
    <hr>

    {% if message_t %}
    <div class="alert alert-info">
        {{ message_t }}
        {{type_t}}
    </div>
    {% endif %}

    <form action="" enctype="multipart/form-data" method="POST" class="row ml-5 g-3 align-items-center">
        <div class="col-4">
            <label class="form-label">Тип</label>
            <input type="text" class="form-control" name="type_v">
        </div>
        <div class="col-12 text-end">
            <button name="type" type="submit" value="type" class="btn btn-success">Добавить</button>
        </div>
    </form>
</div>
{% endblock %}
